<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="{{url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
  <script src="../static/js/countUp.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="{{url_for('static',filename='js/raphael-2.1.4.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/justgage.js')}}"></script>
  <style>
   body{background:url("../static/images/img.jpg");background-repeat: no-repeat;background-position: center;background-attachment: fixed;background-size:cover;overflow:hidden;}
  .questions{width:20%;margin:auto;}
  .question_{width:50%;margin:auto;}
  .btn,.input-lg{border-radius:30px;}
  .input-nam{background:#eee;height:50px;margin:auto;line-height:50px;border-radius:30px;width:60%;}
  .input-nam-hata{background:aqua;height:50px;margin:auto;line-height:50px;border-radius:30px;}
  .fa-2x{float:left;}
  .yrmnthslct{border:none;background:none;}
  .slide-down-page {position: absolute;width: 100%;box-sizing: content-box;background-color: white;}
  .input-group{right:-1.3px;}
  .pdcselectdiv{right:-16.5px}
  .heading{text-transform: uppercase;font-weight: 600;font-size: x-large;}
  .writtendatapledge{background:white;}
  /**/
  		.other-foot:hover{
		color:green;text-decoration:none;cursor:pointer;}
		input[type=checkbox]{width:30px;height:30px;}
		.well{min-height:400px;}
  </style>
<script>
$(document).ready(function(){
	$(function() {
	$('select,input').change(function() {
		$.getJSON('/background_process_new', {
			country_name_new: $('#country_name_new').val(),
			no_people_input_new: $('#no_people_input_new').val(),
			electricity_input_new: $('#electricity_input_new').val(),
			lpg_new: $('#lpg_new').val(),
			cng_new: $('#cng_new').val(),
			png_new: $('#png_new').val(),
			smallcar_new: $('#smallcar_new').val(),
			mediumcar_new: $('#mediumcar_new').val(),
			largecar_new: $('#largecar_new').val(),
			bike_new: $('#bike_new').val(),
			taxi_new: $('#taxi_new').val(),
			auto_new: $('#auto_new').val(),
			train_new: $('#train_new').val(),
			bus_new: $('#bus_new').val(),
			domflight_new: $('#domflight_new').val(),
			intflight_new: $('#intflight_new').val(),
			waste_new: $('#waste_new').val(),
			smallfuel: $('#smallfuel').val(),
			mediumfuel: $('#mediumfuel').val(),
			largefuel: $('#largefuel').val(),
			// selection of month and year
			yrmnthslct_electricity: $('#yrmnthslct_electricity').val(),
			yrmnthslct_lpg: $('#yrmnthslct_lpg').val(),
			yrmnthslct_cng: $('#yrmnthslct_cng').val(),
			yrmnthslct_png: $('#yrmnthslct_png').val(),
			yrmnthslct_smallcar: $('#yrmnthslct_smallcar').val(),
			yrmnthslct_mediumcar: $('#yrmnthslct_mediumcar').val(),
			yrmnthslct_largecar: $('#yrmnthslct_largecar').val(),
			yrmnthslct_bike: $('#yrmnthslct_bike').val(),
			yrmnthslct_taxi: $('#yrmnthslct_taxi').val(),
			yrmnthslct_auto: $('#yrmnthslct_auto').val(),
			yrmnthslct_train: $('#yrmnthslct_train').val(),
			yrmnthslct_bus: $('#yrmnthslct_bus').val(),
			yrmnthslct_dom: $('#yrmnthslct_dom').val(),
			yrmnthslct_int: $('#yrmnthslct_int').val(),
			yrmnthslct_waste: $('#yrmnthslct_waste').val()
		}, function(data) {
		var percentageresult = data.result[17];
		if(percentageresult < 10){
									$("body").css({"background":'url("../static/images/img.jpg") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#00FF00');
									}
		if(percentageresult >= 10){
									$("body").css({"background":'url("../static/images/img.jpg") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#66ff00');
									}
		if(percentageresult >= 20){
									$("body").css({"background":'url("../static/images/img.jpg") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#ccff00');
									}
		if(percentageresult >= 35){
									$("body").css({"background":'url("../static/images/img.jpg") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#FFFF00');
									}
		if(percentageresult >= 55){
									$("body").css({"background":'url("../static/images/img.jpg") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#ff9900');
									}
		if(percentageresult >= 75){
									$("body").css({"background":'url("../static/images/img.png") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#FF3300');
									}
		if(percentageresult >= 90){
									$("body").css({"background":'url("../static/images/img.png") no-repeat',"background-position": 'center','background-attachment': 'fixed','background-size':'cover'});
									$("#result_new").css("color",'#FF0000');
									}
	  //$(".result_new").html(data.result);
	var options = {
		  useEasing : true, 
		  useGrouping : true, 
		  separator : ',', 
		  decimal : '.', 
		  prefix : '', 
		  suffix : '' 
	};

var a= data.result[0];
var demo = new CountUp("result_new", 0, a,2,2, options);
demo.start();

var barChartData = {
labels: ["Electricity", "LPG uses", "CNG uses", "PNG uses", "Personal Car (small)","Personal Car (medium)", "Personal Car (large)", "Motor Bike", "Taxi", "Auto","Train", "Bus", "Flight (Domestic)", "Flight (International)", "Waste"],
datasets: [{
    label: 'tonnes of carbon',
	data: [data.result[1],data.result[2],data.result[3],data.result[4],data.result[5],data.result[6],data.result[7],data.result[8],data.result[9],data.result[10],data.result[11],data.result[12],data.result[13],data.result[14],data.result[15]],
    backgroundColor: [
						"#3e95cd",
						"#3e95cd",
						"#3e95cd",
						"#3e95cd",
						"#8e5ea2",
						"#8e5ea2",
						"#8e5ea2",
						"#8e5ea2",
						"#3cba9f",
						"#3cba9f",
						"#3cba9f",
						"#3cba9f",
						"#e8c3b9",
						"#e8c3b9",
						"#c45850"]
}]
}

  var context = document.getElementById('myChart').getContext('2d');
  var myBar = new Chart(context, {
      type: 'bar',

      data: barChartData,
      options: {

          title:{
              display:false,
              text:"Chart.js Bar Chart - Stacked"
          },
          tooltips: {
              mode: 'label'
          }
      }
  });




});
});
});
});
</script>

</head>

<body class="jumbotron text-center content">

<div hidden>
<img src="../static/images/img.jpg">
</div>
<center>
    <div class="col-lg-8 form-inner-cont">

                <h1>LOGIN</h1>
                <br>

                <form action="/login" method="post" class="signin-form">
                  {{ csrf_token }}
                  
                    <div class="form">

                      <h3>{{ message }}</h3>
                       <center> 
                        <div class="form-input">
                            <input type="text" name="email" id="w3lSubject" placeholder="Enter your Email "
                                required />
                        </div>
                        <br>
                        <div class="form-input">
                            <input type="password" name="password" id="w3lSender" placeholder="Enter your Password"
                                required />
                        </div>
                        
                    </center>
                    </div>
                    <br>
                    <h6><a href="/forgot_password" >forgot password??</a></h6>
                    <h6><a href="/register" >SignUp</a></h6>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-style btn-primary">LOGIN</button>
                    </div>
                </form>
            </div>
</center>
</body>
</html>
